.home1{
    background-image: url('1.png');
    background-repeat: no-repeat;
    background-size: cover; 
    height:545px ;
    width: 1280px;
    margin-top: 0px;
    padding-top: 0px;
    padding: 0px;
    margin: 0px;"
}

